.wd-main-content {
    position: fixed;
    left: 320px;
    margin-right: 30px;
    top: 60px
}

@media (max-width: 768px) {
    .wd-main-content {
        position: none;
        left: 0px;
        margin-right: 10px;
    }

}


@media (max-width: 398px) {
    .wd-main-content {
        top: 90px;
    }
}
